In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

ImportError: No module named 'seaborn'

# 得到所有的企业本身的特征
    0. 企业注册时间差，RGYEAR
    1. 2018-企业注册时间差，RGYEAR_DIFF
    2. 注册资本，ZCZB
    3. 企业的行业大类，HY
    4. 企业的类型，ETYPE
    5. 注册资本占整个行业大类的注册资本的平均值的比例，ZCZB_RATE
    6. 注册资本占这个企业类型的注册资本的平均值的比例，ETYPE_RATE
    
    7. 已经完成的企业的计算指标，['MPNUM', 'INUM', 'FINZB','FSTINUM', 'TZINUM'],用0填充
    -----------------------------------------------------------------------------------------
    8. 每个企业对应行业大类的平均资金，HY_ZCZB_AVG
    9. 每个企业对应行业大类的平均资金占所有企业的平均注册资金的比例, HY_ZCZB_AVG_RATE

    8. 每个企业对应行业大类的平均资金，ETYPE_ZCZB_AVG
    9. 每个企业对应行业大类的平均资金占所有企业的平均注册资金的比例, ETYPE_ZCZB_AVG_RATE
    
        
    10. 每个完成的企业的计算指标其对应行业大类的计算指标的平均值,['MPNUM_HY_AVG', 'INUM_HY_AVG', 'FINZB_HY_AVG','FSTINUM_HY_AVG', 'TZINUM_HY_AVG']
    
    
        ['MPNUM_HY_AVG', 'INUM_HY_AVG', 'FINZB_HY_AVG','FSTINUM_HY_AVG', 'TZINUM_HY_AVG'] / MPNUM_AVG ... 
    11. 每个完成的企业的计算指标其对应行业大类的计算指标的平均值占整个计算指标的平均值的比例,['MPNUM_HY_AVG_RATE', 'INUM_HY_AVG_RATE', 'FINZB_HY_AVG_RATE','FSTINUM_HY_AVG_RATE', 'TZINUM_HY_AVG_RATE']
        
        
        ['MPNUM', 'INUM', 'FINZB','FSTINUM', 'TZINUM'] / ['MPNUM_HY_AVG', 'INUM_HY_AVG', 'FINZB_HY_AVG','FSTINUM_HY_AVG', 'TZINUM_HY_AVG']
    12. 每个完成的企业的计算指标占其对应行业大类对应的计算指标的平均值的比例,['MPNUM_HY_RATE', 'INUM_HY_RATE', 'FINZB_HY_RATE','FSTINUM_HY_RATE', 'TZINUM_HY_RATE']

In [12]:
company = pd.read_csv('../python_workplace/BDCI2017LZSJ/data/public/1entbase.csv')

OSError: File b'../python_workplace/BDCI2017LZSJ/data/public/lentbase.csv' does not exist

In [24]:
company['ETYPE'].value_counts()

7     206500
6      18375
8      11114
17      8798
5       3890
16      3543
13      1597
3        843
2        339
1        111
4         20
Name: ETYPE, dtype: int64

In [25]:
company = company.fillna(0)
company.info()
company.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255130 entries, 0 to 255129
Data columns (total 10 columns):
EID        255130 non-null int64
RGYEAR     255130 non-null int64
HY         255130 non-null int64
ZCZB       255130 non-null float64
ETYPE      255130 non-null int64
MPNUM      255130 non-null float64
INUM       255130 non-null float64
FINZB      255130 non-null float64
FSTINUM    255130 non-null float64
TZINUM     255130 non-null float64
dtypes: float64(6), int64(4)
memory usage: 19.5 MB

      EID  RGYEAR  HY    ZCZB  ETYPE  MPNUM  INUM  FINZB  FSTINUM  TZINUM
0   32741    2000  87   100.0      7    1.0   3.0    0.0      2.0     0.0
1  294220    2003  51    50.0      7    0.0   3.0    0.0      0.0     0.0
2   10526    2013  75   100.0      7    1.0   2.0    0.0      1.0     0.0
3  237382    2014  75  9900.0      7    3.0   4.0    0.0      2.0     0.0
4  473535    2008  75    50.0      7    3.0   5.0    0.0      1.0     0.0

In [26]:
tmp = pd.DataFrame()
tmp['HY_ZCZB_AVG'] = company.groupby(['HY'],as_index=True,axis=0)['ZCZB'].mean()
tmp['HY_ZCZB_AVG_RATE'] = tmp['HY_ZCZB_AVG'] / company['ZCZB'].mean()

tmp['MPNUM_HY_AVG'] = company.groupby(['HY'],as_index=True,axis=0)['MPNUM'].mean()
tmp['INUM_HY_AVG'] = company.groupby(['HY'],as_index=True,axis=0)['INUM'].mean()
tmp['FINZB_HY_AVG'] = company.groupby(['HY'],as_index=True,axis=0)['FINZB'].mean()
tmp['FSTINUM_HY_AVG'] = company.groupby(['HY'],as_index=True,axis=0)['FSTINUM'].mean()
tmp['TZINUM_HY_AVG'] = company.groupby(['HY'],as_index=True,axis=0)['TZINUM'].mean()


tmp['HY'] = tmp.index

tmp1 = pd.DataFrame()
tmp1['ETYPE_ZCZB_AVG'] = company.groupby(['ETYPE'],as_index=True,axis=0)['ZCZB'].mean()
tmp1['ETYPE_ZCZB_AVG_RATE'] = tmp1['ETYPE_ZCZB_AVG'] / company['ZCZB'].mean()



tmp1['ETYPE'] = tmp1.index



company = pd.merge(company,tmp,how='left',on=['HY'])
company = pd.merge(company,tmp1,how='left',on=['ETYPE'])

In [27]:
company.info()
company.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255130 entries, 0 to 255129
Data columns (total 19 columns):
EID                    255130 non-null int64
RGYEAR                 255130 non-null int64
HY                     255130 non-null int64
ZCZB                   255130 non-null float64
ETYPE                  255130 non-null int64
MPNUM                  255130 non-null float64
INUM                   255130 non-null float64
FINZB                  255130 non-null float64
FSTINUM                255130 non-null float64
TZINUM                 255130 non-null float64
HY_ZCZB_AVG            255130 non-null float64
HY_ZCZB_AVG_RATE       255130 non-null float64
MPNUM_HY_AVG           255130 non-null float64
INUM_HY_AVG            255130 non-null float64
FINZB_HY_AVG           255130 non-null float64
FSTINUM_HY_AVG         255130 non-null float64
TZINUM_HY_AVG          255130 non-null float64
ETYPE_ZCZB_AVG         255130 non-null float64
ETYPE_ZCZB_AVG_RATE    255130 non-null float64
dtypes: float64(15), int64(4)
memory usage: 38.9 MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,HY_ZCZB_AVG,HY_ZCZB_AVG_RATE,MPNUM_HY_AVG,INUM_HY_AVG,FINZB_HY_AVG,FSTINUM_HY_AVG,TZINUM_HY_AVG,ETYPE_ZCZB_AVG,ETYPE_ZCZB_AVG_RATE
0,32741,2000,87,100.0,7,1.0,3.0,0.0,2.0,0.0,312.795864,0.160588,1.88083,1.915088,6028.459183,6.560648,0.010632,496.884525,0.255098
1,294220,2003,51,50.0,7,0.0,3.0,0.0,0.0,0.0,748.454556,0.384253,2.20338,1.718808,8972.840848,3.710481,0.003695,496.884525,0.255098
2,10526,2013,75,100.0,7,1.0,2.0,0.0,1.0,0.0,708.414724,0.363697,2.22145,2.158174,4027.553261,7.921211,0.032188,496.884525,0.255098
3,237382,2014,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,708.414724,0.363697,2.22145,2.158174,4027.553261,7.921211,0.032188,496.884525,0.255098
4,473535,2008,75,50.0,7,3.0,5.0,0.0,1.0,0.0,708.414724,0.363697,2.22145,2.158174,4027.553261,7.921211,0.032188,496.884525,0.255098

In [28]:
company['RGYEAR_DIFF'] = 2018 - company['RGYEAR']
company['ZCZB_RATE'] = company['ZCZB'] / company['HY_ZCZB_AVG']
company['ETYPE_RATE'] = company['ZCZB'] / company['ETYPE_ZCZB_AVG']

company['MPNUM_HY_AVG_RATE'] = company['MPNUM_HY_AVG'] / company['MPNUM'].mean()
company['INUM_HY_AVG_RATE'] = company['INUM_HY_AVG'] / company['INUM'].mean()
company['FINZB_HY_AVG_RATE'] = company['FINZB_HY_AVG'] / company['FINZB'].mean()
company['FSTINUM_HY_AVG_RATE'] = company['FSTINUM_HY_AVG'] / company['FSTINUM'].mean()
company['TZINUM_HY_AVG_RATE'] = company['TZINUM_HY_AVG'] / company['TZINUM'].mean()

In [29]:
company['MPNUM_HY_RATE'] = company['MPNUM'] / company['MPNUM_HY_AVG']
company['INUM_HY_RATE'] = company['INUM'] / company['INUM_HY_AVG']
company['FINZB_HY_RATE'] = company['FINZB'] / company['FINZB_HY_AVG']
company['FSTINUM_HY_RATE'] = company['FSTINUM'] / company['FSTINUM_HY_AVG']
company['TZINUM_HY_RATE'] = company['TZINUM'] / company['TZINUM_HY_AVG']

company = company.fillna(0)

In [30]:
def setTime(x):
    return str(x)+'-01'

company['RGYEAR'] = company['RGYEAR'].apply(setTime)

In [31]:
company.info()
company.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255130 entries, 0 to 255129
Data columns (total 32 columns):
EID                    255130 non-null int64
RGYEAR                 255130 non-null object
HY                     255130 non-null int64
ZCZB                   255130 non-null float64
ETYPE                  255130 non-null int64
MPNUM                  255130 non-null float64
INUM                   255130 non-null float64
FINZB                  255130 non-null float64
FSTINUM                255130 non-null float64
TZINUM                 255130 non-null float64
HY_ZCZB_AVG            255130 non-null float64
HY_ZCZB_AVG_RATE       255130 non-null float64
MPNUM_HY_AVG           255130 non-null float64
INUM_HY_AVG            255130 non-null float64
FINZB_HY_AVG           255130 non-null float64
FSTINUM_HY_AVG         255130 non-null float64
TZINUM_HY_AVG          255130 non-null float64
ETYPE_ZCZB_AVG         255130 non-null float64
ETYPE_ZCZB_AVG_RATE    255130 non-null float64
RGYEAR_DIFF            255130 non-null int64
ZCZB_RATE              255130 non-null float64
ETYPE_RATE             255130 non-null float64
MPNUM_HY_AVG_RATE      255130 non-null float64
INUM_HY_AVG_RATE       255130 non-null float64
FINZB_HY_AVG_RATE      255130 non-null float64
FSTINUM_HY_AVG_RATE    255130 non-null float64
TZINUM_HY_AVG_RATE     255130 non-null float64
MPNUM_HY_RATE          255130 non-null float64
INUM_HY_RATE           255130 non-null float64
FINZB_HY_RATE          255130 non-null float64
FSTINUM_HY_RATE        255130 non-null float64
TZINUM_HY_RATE         255130 non-null float64
dtypes: float64(27), int64(4), object(1)
memory usage: 64.2+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,MPNUM_HY_AVG_RATE,INUM_HY_AVG_RATE,FINZB_HY_AVG_RATE,FSTINUM_HY_AVG_RATE,TZINUM_HY_AVG_RATE,MPNUM_HY_RATE,INUM_HY_RATE,FINZB_HY_RATE,FSTINUM_HY_RATE,TZINUM_HY_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,0.782637,0.881570,0.417838,0.960000,0.680161,0.531680,1.566508,0.0,0.304848,0.0
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,0.916855,0.791217,0.621916,0.542944,0.236374,0.000000,1.745396,0.0,0.000000,0.0
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,0.924374,0.993470,0.279153,1.159087,2.059212,0.450157,0.926709,0.0,0.126243,0.0
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,0.924374,0.993470,0.279153,1.159087,2.059212,1.350470,1.853419,0.0,0.252487,0.0
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,0.924374,0.993470,0.279153,1.159087,2.059212,1.350470,2.316773,0.0,0.126243,0.0

HY的类别更多
FSTINUM、INUM、MPNUM、FINZB:用同一个企业类型（HY）的平均值填充空值（取整）
TZINUM：用这个HY中出现最多的值进行填充

In [1]:
company.to_csv('../data/alldata/df_data1.csv',index=False,index_label=False)

NameError: name 'company' is not defined