In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pro_data

# 投资数据4invest.csv(提取的特征)
> 实验发现，所有被投资的企业在EID中都没有出现，所有随意每一个企业只有投资数据，没有被投资数据，而且不能构造新的训练数据
1. 企业投资企业的数量, TZ_CNT
2. 投资企业在省内的个数，TZ_INHOME_CNT
3. 投资企业在省内的个数的比例，TZ_INHOME_RATE
4. 投资企业在省外的个数，TZ_OUTHOME_CNT
5. 投资企业在省内的个数的比例，TZ_OUTHOME_RATE
6. 投资企业倒闭的个数，TZ_CLOSE_CNT
7. 投资企业倒闭的比例，TZ_CLOSE_RATE
8. 投资企业营业的个数，TZ_CLOSE_CNT
9. 投资企业营业的比例，TZ_CLOSE_RATE
10. 投资企业的平均持股比例, TZ_BTBL_AVG
11. 第一个投资企业的时间，TZ_QY_FIRST_TIME
12. 第一个投资企业的时间与本公司的注册时间的差值，TZ_QY_FIRST_RGYEAR_DIFF
13. 最后一个投资企业的时间，TZ_QY_END_TIME
14. 最后一个投资企业的时间与本公司的注册时间的差值，TZ_QY_END_RGYEAR_DIFF 
    
             
                 
x 15. 第一个投资企业的时间与本公司的第一个分公司注册时间的差值，TZ_QY_FIRST_BRANCH_FIRST_DIFF
x 16. 第一个投资企业的时间与本公司的最后一个分公司注册时间的差值，TZ_QY_FIRST_BRANCH_END_DIFF

17. 第一个投资企业倒闭的时间，TZ_FIRST_CLOSE_TIME
18. 第一个投资企业倒闭的时间距离第一企业的投资时间，TZ_FIRST_CLOSE_TIME
19. 第一个投资企业倒闭的时间距离本企业的注册时间，TZ_FIRST_CLOSE_RGYEAR_TIME
20. 该企业是否有投资企业，IS_TZ_ACTIVE

---------------------------------------------------------------------------------------------
+ 20. 平均每几个月投资一个企业，TZ_PRE_MONTH_CNT = TZ_CNT / TZ_QY_END_RGYEAR_DIFF
+ 21. 平均每几个月投资的企业倒闭，TZ_CLOSR_PRE_MONTH_CNT = TZ_CLOSE_CNR / TZ_QY_END_RGYEAR_DIFF


+ 23. 企业对应的HY大类的平均投资数量，TZ_HY_CNT_AVG
+ 24. 企业的投资数量占其对应投资大类HY平均值的比例, TZ_CNT_HY_AVG_RATE
+ 25. 企业的投资数量占其所有投资平均值的比例, TZ_CNT_ALL_AVG_RATE
+ 26. 企业的对应的行业大类HY的平均投资投资数量占其所有投资平均值的比例, TZ_HY_CNT_ALL_AVG_RATE

+ 23. 企业对应的HY大类的平均投资close数量，TZ_HY_CNT_AVG
+ 25. 企业的投资数量占其所有投资close平均值的比例, TZ_CNT_ALL_AVG_RATE
+ 26. 企业的对应的行业大类HY的平均投close资投资数量占其所有投资平均值的比例, TZ_HY_CNT_ALL_AVG_RATE

+ 23. 企业对应的HY大类的平均投资open数量，TZ_HY_CNT_AVG
+ 25. 企业的投资数量占其所有投资open平均值的比例, TZ_CNT_ALL_AVG_RATE
+ 26. 企业的对应的行业大类HY的平均open投资投资数量占其所有投资平均值的比例, TZ_HY_CNT_ALL_AVG_RATE


投资企业的平均持股比例, TZ_BTBL_AVG

+ 23. 企业对应的HY大类的持股比例的均值，TZ_HY_BTBL_AVG
+ 24. 企业的投资持股比例占其对应投资大类HY平均值的比例, TZ_BTBL_HY_AVG_RATE
+ 25. 企业的投资持股比例占其所有投资平均值的比例, TZ_BTBL_ALL_AVG_RATE
+ 26. 企业的对应的行业大类HY的投资比例均值占其所有投资平均值的比例, TZ_HY_BTBL_ALL_AVG_RATE

In [39]:
df_all = pd.read_csv("../data/alldata/df_data123.csv")
df_invest = pd.read_csv("../data/public/4invest.csv")

In [7]:
# 实验发现，所有被投资的企业在EID中出现的个数，
# tmp = df_invest['BTEID']
# df_all[df_all['EID'].isin(tmp)]

In [8]:
df_invest.info()
df_invest.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55525 entries, 42028 to 55513
Data columns (total 6 columns):
EID          55525 non-null int64
BTEID        55525 non-null int64
IFHOME       55525 non-null int64
BTBL         55525 non-null float64
BTYEAR       55525 non-null int64
BTENDYEAR    55525 non-null float64
dtypes: float64(2), int64(4)
memory usage: 3.0 MB

          EID   BTEID  IFHOME  BTBL  BTYEAR  BTENDYEAR
42028   30384  726926       0   1.0    1900     1996.0
42030   30384  672396       0   1.0    1900     1996.0
16643  310565  679901       0   1.0    1900     1997.0
16647  310565  625039       0   1.0    1900     1997.0
42271  123764  715013       0   1.0    1900     1997.0

In [9]:
# 正在运行的企业，用2018.0填充
df_invest['BTENDYEAR'] = df_invest['BTENDYEAR'].fillna(2018.0)

df_invest = df_invest.sort_values(['BTYEAR','BTENDYEAR'])

columns = df_invest.columns
df_xinvest = pd.DataFrame(columns=columns)

In [10]:
EIDS = set(df_invest['EID'])

len(EIDS)

19757

In [11]:
k = 0
for EID in EIDS:
    if k%3000 == 0:
        print('第%d次处理--------->',k)
    k+=1
    tmp = df_invest[df_invest['EID'] == EID]
    row = [EID,tmp['BTEID'].values,tmp['IFHOME'].values,tmp['BTBL'].values,tmp['BTYEAR'].values,tmp['BTENDYEAR'].values]
    
    df_xinvest = df_xinvest.append(pd.Series(row,columns),ignore_index=True)

第%d次处理---------> 0
第%d次处理---------> 3000
第%d次处理---------> 6000
第%d次处理---------> 9000
第%d次处理---------> 12000
第%d次处理---------> 15000
第%d次处理---------> 18000

In [8]:
# df_xinvest.to_csv('../data/public/3invert_1.csv',index=False,index_label=False)
# df_xinvest = pd.read_csv('../data/public/3invert_1.csv')

In [12]:
df_xinvest.head()

,EID,BTEID,IFHOME,BTBL,BTYEAR,BTENDYEAR
0,163840,"[56365, 677855, 16168]","[1, 1, 1]","[0.5, 0.5, 0.5]","[2004, 2006, 2009]","[2018.0, 2018.0, 2018.0]"
1,458753,[486241],[1],[0.5],[2013],[2018.0]
2,131072,[720821],[1],[0.167],[2014],[2018.0]
3,4,"[645315, 416106, 100322]","[0, 1, 1]","[0.62, 0.014, 0.6]","[2011, 2011, 2011]","[2018.0, 2018.0, 2018.0]"
4,491524,[63289],[1],[1.0],[2014],[2018.0]

In [13]:
def getTZCnt(x):
    return len(x)
    
df_xinvest['TZ_CNT'] = df_xinvest['BTEID'].apply(getTZCnt)

In [14]:
def InHome(x):
    return list(x).count(1)

def OutHome(x):
    return list(x).count(0)

df_xinvest['TZ_INHOME_CNT'] = df_xinvest['IFHOME'].apply(InHome)
df_xinvest['TZ_OUTHOME_CNT'] = df_xinvest['IFHOME'].apply(OutHome)

df_xinvest['TZ_INHOME_RATE'] = df_xinvest['TZ_INHOME_CNT'] / df_xinvest['TZ_CNT']
df_xinvest['TZ_OUTHOME_RATE'] = df_xinvest['TZ_OUTHOME_CNT'] / df_xinvest['TZ_CNT']

In [15]:
def EndCnt(x):
    k = 0
    for d in x:
        if d != 2018.0:
            k+=1
    return k

def OpenCnt(x):
    k = 0
    for d in x:
        if d == 2018.0:
            k+=1
    return k

df_xinvest['TZ_CLOSE_CNT'] = df_xinvest['BTENDYEAR'].apply(EndCnt)
df_xinvest['TZ_OPEN_CNT'] = df_xinvest['BTENDYEAR'].apply(OpenCnt)

df_xinvest['TZ_CLOSE_RATE'] = df_xinvest['TZ_CLOSE_CNT'] / df_xinvest['TZ_CNT']
df_xinvest['TZ_OPEN_RATE'] = df_xinvest['TZ_OPEN_CNT'] / df_xinvest['TZ_CNT']

In [16]:
df_xinvest['TZ_BTBL_AVG'] = df_xinvest['BTBL'].apply(np.mean)
df_xinvest['IS_TZ_ACTIVE'] = 1

In [17]:
def getFirstTime(x):
    return str(int(x[0]))+'-01'

def getEndTime(x):
    return str(int(x[-1]))+'-01'

df_xinvest['TZ_QY_FIRST_TIME'] = df_xinvest['BTYEAR'].apply(getFirstTime)
df_xinvest['TZ_QY_END_TIME'] = df_xinvest['BTYEAR'].apply(getEndTime)
df_xinvest['TZ_FIRST_CLOSE_TIME'] = df_xinvest['BTENDYEAR'].apply(getFirstTime)

In [18]:
df_xinvest.to_csv('../data/public/4invert_1.csv',index=False,index_label=False)
df_xinvest.columns

Index(['EID', 'BTEID', 'IFHOME', 'BTBL', 'BTYEAR', 'BTENDYEAR', 'TZ_CNT',
       'TZ_INHOME_CNT', 'TZ_OUTHOME_CNT', 'TZ_INHOME_RATE', 'TZ_OUTHOME_RATE',
       'TZ_CLOSE_CNT', 'TZ_OPEN_CNT', 'TZ_CLOSE_RATE', 'TZ_OPEN_RATE',
       'TZ_BTBL_AVG', 'IS_TZ_ACTIVE', 'TZ_QY_FIRST_TIME', 'TZ_QY_END_TIME',
       'TZ_FIRST_CLOSE_TIME'],
      dtype='object')

In [40]:
df_all = pd.merge(df_all,df_xinvest[['EID', 'TZ_CNT','TZ_INHOME_CNT', 'TZ_OUTHOME_CNT', 'TZ_INHOME_RATE', 'TZ_OUTHOME_RATE',
                                     'TZ_CLOSE_CNT', 'TZ_OPEN_CNT', 'TZ_CLOSE_RATE', 'TZ_OPEN_RATE','TZ_BTBL_AVG', 
                                     'TZ_QY_FIRST_TIME', 'TZ_QY_END_TIME','TZ_FIRST_CLOSE_TIME','IS_TZ_ACTIVE']],how='left',on=['EID'])

In [41]:
df_all.head()

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,TZ_OUTHOME_RATE,TZ_CLOSE_CNT,TZ_OPEN_CNT,TZ_CLOSE_RATE,TZ_OPEN_RATE,TZ_BTBL_AVG,TZ_QY_FIRST_TIME,TZ_QY_END_TIME,TZ_FIRST_CLOSE_TIME,IS_TZ_ACTIVE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,0.0,1.0,3.0,0.25,0.75,0.325,1988-01,2000-01,2018-01,1.0
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# 空值填充，根据HY的类别的平均值或者众数进行填充
# ['TZ_CNT','TZ_INHOME_CNT', 'TZ_OUTHOME_CNT','TZ_INHOME_RATE','TZ_OUTHOME_RATE', 'TZ_CLOSE_CNT', 'TZ_OPEN_CNT','TZ_CLOSE_RATE', 'TZ_OPEN_RATE','TZ_BTBL_AVG']使用同一个大类别的均值进行填充
# ['TZ_QY_FIRST_TIME','TZ_QY_END_TIME','TZ_FIRST_CLOSE_TIME']使用同一个大类别的众数进行填充
HYLIST = set(df_all['HY'])

print(HYLIST)

meanlist = ['TZ_CNT','TZ_INHOME_CNT', 'TZ_OUTHOME_CNT','TZ_INHOME_RATE','TZ_OUTHOME_RATE', 'TZ_CLOSE_CNT', 'TZ_OPEN_CNT','TZ_CLOSE_RATE', 'TZ_OPEN_RATE','TZ_BTBL_AVG']
modelist = ['TZ_QY_FIRST_TIME','TZ_QY_END_TIME','TZ_FIRST_CLOSE_TIME']

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 93}

In [43]:
# for HY in HYLIST:
#     # print(df_train['HY'].value_counts())
#     for d in meanlist:
#         df_all.loc[df_all[df_all[d].isnull()][df_all['HY']==HY].index,d] = df_all[df_all['HY']==HY][d].mean()
    
#     for c in modelist:
#         if(len(df_all[df_all['HY']==HY][c].value_counts().index)==0): continue
#         df_all.loc[df_all[df_all[c].isnull()][df_all['HY']==HY].index,c] = df_all[df_all['HY']==HY][c].value_counts().index[0]

In [44]:
# meanlist中的空值，表示企业没有投资数据，使用0进行填充
df_all[meanlist] = df_all[meanlist].fillna(0)

# df_all['TZ_QY_FIRST_TIME'] = df_all['TZ_QY_FIRST_TIME'].fillna(df_all['TZ_QY_FIRST_TIME'].value_counts().index[0],)
# df_all['TZ_QY_END_TIME'] = df_all['TZ_QY_END_TIME'].fillna(df_all['TZ_QY_END_TIME'].value_counts().index[0],)
# df_all['TZ_FIRST_CLOSE_TIME'] = df_all['TZ_FIRST_CLOSE_TIME'].fillna(df_all['TZ_FIRST_CLOSE_TIME'].value_counts().index[0],)

In [45]:
# 所有关于年的空值使用注册时间填充
df_all.loc[df_all['TZ_QY_FIRST_TIME'].isnull(),'TZ_QY_FIRST_TIME'] = df_all.loc[df_all['TZ_QY_FIRST_TIME'].isnull(),'RGYEAR']
df_all.loc[df_all['TZ_QY_END_TIME'].isnull(),'TZ_QY_END_TIME'] = df_all.loc[df_all['TZ_QY_END_TIME'].isnull(),'RGYEAR']
df_all.loc[df_all['TZ_FIRST_CLOSE_TIME'].isnull(),'TZ_FIRST_CLOSE_TIME'] = df_all.loc[df_all['TZ_FIRST_CLOSE_TIME'].isnull(),'RGYEAR']

In [46]:
df_all['IS_TZ_ACTIVE'] = df_all['IS_TZ_ACTIVE'].fillna(0)

In [52]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255130 entries, 0 to 255129
Data columns (total 97 columns):
EID                                   255130 non-null object
RGYEAR                                255130 non-null object
HY                                    255130 non-null int64
ZCZB                                  255130 non-null float64
ETYPE                                 255130 non-null int64
MPNUM                                 255130 non-null float64
INUM                                  255130 non-null float64
FINZB                                 255130 non-null float64
FSTINUM                               255130 non-null float64
TZINUM                                255130 non-null float64
HY_ZCZB_AVG                           255130 non-null float64
HY_ZCZB_AVG_RATE                      255130 non-null float64
MPNUM_HY_AVG                          255130 non-null float64
INUM_HY_AVG                           255130 non-null float64
FINZB_HY_AVG                          255130 non-null float64
FSTINUM_HY_AVG                        255130 non-null float64
TZINUM_HY_AVG                         255130 non-null float64
ETYPE_ZCZB_AVG                        255130 non-null float64
ETYPE_ZCZB_AVG_RATE                   255130 non-null float64
RGYEAR_DIFF                           255130 non-null int64
ZCZB_RATE                             255130 non-null float64
ETYPE_RATE                            255130 non-null float64
MPNUM_HY_AVG_RATE                     255130 non-null float64
INUM_HY_AVG_RATE                      255130 non-null float64
FINZB_HY_AVG_RATE                     255130 non-null float64
FSTINUM_HY_AVG_RATE                   255130 non-null float64
TZINUM_HY_AVG_RATE                    255130 non-null float64
MPNUM_HY_RATE                         255130 non-null float64
INUM_HY_RATE                          255130 non-null float64
FINZB_HY_RATE                         255130 non-null float64
FSTINUM_HY_RATE                       255130 non-null float64
TZINUM_HY_RATE                        255130 non-null float64
ALTERNO_SUM                           255130 non-null float64
ALTERNO_CNT                           255130 non-null float64
ALTERNO_CNT_RATE                      255130 non-null float64
FIRST_CHANGE_TIME                     255130 non-null object
END_CHANGE_TIME                       255130 non-null object
IS_CHANGE                             255130 non-null float64
CHANGE_FIRST_ALTERNO                  255130 non-null int64
CHANGE_END_ALTERNO                    255130 non-null int64
CHANGE_ALTERNO_MUCNID                 255130 non-null int64
FIRST_CHANGE_TIME_DIFF                255130 non-null int64
END_CHANGE_TIME_DIFF                  255130 non-null int64
END_FIRST_CHANGE_TIME_DIFF            255130 non-null int64
CHANGE_PRE_CNT                        255130 non-null float64
CHANGE_CNT_RATE                       255130 non-null float64
CHANGE_HY_CNT_AVG                     255130 non-null float64
CHANGE_HY_CNT_ALL_AVG                 255130 non-null float64
BRANCH_CNT                            255130 non-null float64
BRANCH_CNT_INHOME                     255130 non-null float64
BRANCH_CNT_OUTHOME                    255130 non-null float64
BRANCH_FIRST_YEAR                     255130 non-null object
BRANCH_END_YEAR                       255130 non-null object
BRANCH_CLOSE_CNT                      255130 non-null float64
BRANCH_OPEN_CNT                       255130 non-null float64
BRANCH_CLOSE_RATE                     255130 non-null float64
BRANCH_OPEN_RATE                      255130 non-null float64
BRANCH_FIRST_CLOSE_YEAR               255130 non-null object
BRANCH_FIRST_YEAR_RGYEAR_DIFF         255130 non-null int64
BRANCH_END_YEAR_RGYEAR_DIFF           255130 non-null int64
BRANCH_FIRST_CLOSE_YEAR_FIRST_DIFF    255130 non-null int64
BRANCH_FIRST_CLOSE_YEAR_END_DIFF      255130 non-null int64
PER_BRANCH_MONTH                      255130 non-null float64
PER_BRANCH_CLOSE_MONTH                255130 non-null float64
BRANCH_CNT_ALL_RATE                   255130 non-null float64
BRANCH_CLOSE_CNT_ALL_RATE             255130 non-null float64
BRANCH_OPEN_CNT_ALL_RATE              255130 non-null float64
BRANCH_HY_AVG                         255130 non-null float64
BRANCH_HY_ALL_AVG_RATE                255130 non-null float64
BRANCH_CLOSE_HY_AVG                   255130 non-null float64
BRANCH_HY_CLOSE_ALL_AVG_RATE          255130 non-null float64
BRANCH_OPEN_HY_AVG                    255130 non-null float64
BRANCH_HY_OPEN_ALL_AVG_RATE           255130 non-null float64
TZ_CNT                                255130 non-null float64
TZ_INHOME_CNT                         255130 non-null float64
TZ_OUTHOME_CNT                        255130 non-null float64
TZ_INHOME_RATE                        255130 non-null float64
TZ_OUTHOME_RATE                       255130 non-null float64
TZ_CLOSE_CNT                          255130 non-null float64
TZ_OPEN_CNT                           255130 non-null float64
TZ_CLOSE_RATE                         255130 non-null float64
TZ_OPEN_RATE                          255130 non-null float64
TZ_BTBL_AVG                           255130 non-null float64
TZ_QY_FIRST_TIME                      255130 non-null object
TZ_QY_END_TIME                        255130 non-null object
TZ_FIRST_CLOSE_TIME                   255130 non-null object
IS_TZ_ACTIVE                          255130 non-null float64
TZ_QY_FIRST_RGYEAR_DIFF               255130 non-null int64
TZ_QY_END_RGYEAR_DIFF                 255130 non-null int64
TZ_QY_FIRST_BRANCH_FIRST_DIFF         255130 non-null int64
TZ_QY_FIRST_BRANCH_END_DIFF           255130 non-null int64
TZ_FIRST_CLOSE_TIME_DIFF              255130 non-null int64
TZ_FIRST_CLOSE_RGYEAR_TIME_DIFF       255130 non-null int64
TZ_PRE_MONTH_CNT                      19757 non-null float64
TZ_CLOSR_PRE_MONTH_CNT                17497 non-null float64
TZ_CNT_ALL_AVG_RATE                   255130 non-null float64
TZ_BTBL_ALL_AVG_RATE                  255130 non-null float64
dtypes: float64(68), int64(19), object(10)
memory usage: 190.8+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,TZ_QY_FIRST_RGYEAR_DIFF,TZ_QY_END_RGYEAR_DIFF,TZ_QY_FIRST_BRANCH_FIRST_DIFF,TZ_QY_FIRST_BRANCH_END_DIFF,TZ_FIRST_CLOSE_TIME_DIFF,TZ_FIRST_CLOSE_RGYEAR_TIME_DIFF,TZ_PRE_MONTH_CNT,TZ_CLOSR_PRE_MONTH_CNT,TZ_CNT_ALL_AVG_RATE,TZ_BTBL_ALL_AVG_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,-144,0,-312,-300,360,216,inf,inf,18.379469,7.78979
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,0,0,-12,-12,0,0,NaN,NaN,0.000000,0.00000
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,0,0,96,108,0,0,NaN,NaN,0.000000,0.00000
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,0,0,108,120,0,0,NaN,NaN,0.000000,0.00000
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,0,0,-12,-12,0,0,NaN,NaN,0.000000,0.00000

In [48]:
def timeDiff(x):
    a = x[:x.find(':')]
    b = x[x.find(':')+1:]
    y = int(a[:a.find('-')]) - int(b[:b.find('-')])
    m = int(a[a.find('-')+1:]) - int(b[b.find('-')+1:])
    return y * 12 + m

In [49]:
df_all['TZ_QY_FIRST_RGYEAR_DIFF'] = (df_all['TZ_QY_FIRST_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)
df_all['TZ_QY_END_RGYEAR_DIFF'] = (df_all['TZ_QY_END_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)


df_all['TZ_QY_FIRST_BRANCH_FIRST_DIFF'] = (df_all['TZ_QY_FIRST_TIME'] + ':' + df_all['BRANCH_FIRST_YEAR']).apply(timeDiff)
df_all['TZ_QY_FIRST_BRANCH_END_DIFF'] = (df_all['TZ_QY_FIRST_TIME'] + ':' + df_all['BRANCH_END_YEAR']).apply(timeDiff)

df_all['TZ_FIRST_CLOSE_TIME_DIFF'] = (df_all['TZ_FIRST_CLOSE_TIME'] + ':' + df_all['TZ_QY_FIRST_TIME']).apply(timeDiff)
df_all['TZ_FIRST_CLOSE_RGYEAR_TIME_DIFF'] = (df_all['TZ_FIRST_CLOSE_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)

In [50]:
df_all['TZ_PRE_MONTH_CNT '] = df_all['TZ_CNT'] / df_all['TZ_QY_END_RGYEAR_DIFF']
df_all['TZ_CLOSR_PRE_MONTH_CNT  '] = df_all['TZ_CLOSE_CNT'] / df_all['TZ_QY_END_RGYEAR_DIFF']

In [51]:

df_all['TZ_CNT_ALL_AVG_RATE'] = df_all['TZ_CNT'] / df_all['TZ_CNT'].mean()
df_all['TZ_BTBL_ALL_AVG_RATE'] = df_all['TZ_BTBL_AVG'] / df_all['TZ_BTBL_AVG'].mean()

In [53]:
tmp = pd.DataFrame()

tmp['TZ_HY_CNT_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['TZ_CNT'].mean()
tmp['TZ_HY_CNT_ALL_AVG_RATE'] = tmp['TZ_HY_CNT_AVG'] / df_all['TZ_CNT'].mean()

tmp['TZ_CLOSE_HY_CNT_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['TZ_CLOSE_CNT'].mean()
tmp['TZ_HY_CLOSE_CNT_ALL_AVG_RATE'] = tmp['TZ_CLOSE_HY_CNT_AVG'] / df_all['TZ_CLOSE_CNT'].mean()

tmp['TZ_OPEN_HY_CNT_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['TZ_OPEN_CNT'].mean()
tmp['TZ_HY_OPEN_CNT_ALL_AVG_RATE'] = tmp['TZ_OPEN_HY_CNT_AVG'] / df_all['TZ_OPEN_CNT'].mean()

tmp['TZ_HY_BTBL_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['TZ_BTBL_AVG'].mean()
tmp['TZ_HY_BTBL_ALL_AVG_RATE'] = tmp['TZ_HY_BTBL_AVG'] / df_all['TZ_BTBL_AVG'].mean()


tmp['HY'] = tmp.index

df_all = pd.merge(df_all,tmp,how='left',on=['HY'])

In [54]:
df_all['TZ_CNT_HY_AVG_RATE'] = df_all['TZ_CNT'] / df_all['TZ_HY_CNT_AVG']
df_all['TZ_BTBL_HY_AVG_RATE'] = df_all['TZ_BTBL_AVG'] / df_all['TZ_HY_BTBL_AVG']

In [55]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255130 entries, 0 to 255129
Columns: 107 entries, EID to TZ_BTBL_HY_AVG_RATE
dtypes: float64(78), int64(19), object(10)
memory usage: 210.2+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,TZ_HY_CNT_AVG,TZ_HY_CNT_ALL_AVG_RATE,TZ_CLOSE_HY_CNT_AVG,TZ_HY_CLOSE_CNT_ALL_AVG_RATE,TZ_OPEN_HY_CNT_AVG,TZ_HY_OPEN_CNT_ALL_AVG_RATE,TZ_HY_BTBL_AVG,TZ_HY_BTBL_ALL_AVG_RATE,TZ_CNT_HY_AVG_RATE,TZ_BTBL_HY_AVG_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,0.084015,0.386036,0.010065,0.315573,0.073950,0.398135,0.025430,0.609528,47.610799,12.780027
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,0.127995,0.588121,0.027904,0.874915,0.100091,0.538875,0.022578,0.541157,0.000000,0.000000
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,0.156538,0.719274,0.024424,0.765791,0.132115,0.711286,0.043025,1.031240,0.000000,0.000000
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,0.156538,0.719274,0.024424,0.765791,0.132115,0.711286,0.043025,1.031240,0.000000,0.000000
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,0.156538,0.719274,0.024424,0.765791,0.132115,0.711286,0.043025,1.031240,0.000000,0.000000

In [56]:
# 得到在df_xchange的所有数据，
df_all = df_all.fillna(0)
df_all.to_csv('../data/alldata/df_data1234.csv',index=False,index_label=False)