In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pro_data

# 被执行数据7lawsuit.csv提取特征
    1. 企业被执行的案件个数，LAWSUIT_CNT
    2. 企业被执行的案件得金额的均值，LAWSUIT_LAWAMOUNT_MEAN
    3. 企业被执行的案件得金额的和，LAWSUIT_LAWAMOUNT_SUM
    4. 企业第一被执行的时间， LAWSUIT_FIRST_TIME
    5. 企业最后一被执行的时间， LAWSUIT_END_TIME
    6. 企业第一个被执行的时间与企业注册的时间的差值， LAWSUIT_FIRST_RGYEAR_TIME_DIFF
    7. 企业最后一个被执行的时间与企业注册的时间的差值， LAWSUIT_END_RGYEAR_TIME_DIFF
    8. 企业第一个被执行的时间与企业第一次变更时间的差值， LAWSUIT_FIRST_CHANGE_FIRST_TIME_DIFF
    9. 企业第一个被执行的时间与企业最后一次变更时间的差值， LAWSUIT_FIRST_CHANGE_END_TIME_DIFF
    
    ---------------------------------------------------------------------------------------
    10. 企业平均没几个月被执行的一次， LAWSUIT_PRE_MONTH_CNT = LAWSUIT_END_RGYEAR_TIME_DIFF / LAWSUIT_CNT
    
    11. 企业被执行的个数占所有执行个数个平均值的比例，LAWSUIT_CNT_ALL_RATE
    
    12. 企业对应的大类HY的平均执行数据的个数，LAWSUIT_HY_CNT_AVG
    13. 企业对应大类HY的平均执行个数占所有执行平均个数的比例，LAWSUIT_HY_CNT_ALL_RATE
    14. 企业执行的个数占其对应的大类HY的执行平均值的比例，LAWSUIT_CNT_HY_RATE


    15. 企业被执行的金额占所有执行金额个平均值的比例，LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE
    
    16. 企业对应的大类HY的平均金额数据的数值，LAWSUIT_LAWAMOUNT_MEAN_HY_AVG
    17. 企业对应大类HY的平均执行金额占所有执行平均金额的比例，LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE
    18. 企业执行的金额占其对应的大类HY的执行金额平均值的比例，LAWSUIT_LAWAMOUNT_MEAN_HY_RATE

In [3]:
df_all = pd.read_csv("../data/alldata/df_data123456.csv")
df_lawsuit = pd.read_csv("../data/public/7lawsuit.csv")

In [4]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255130 entries, 0 to 255129
Columns: 160 entries, EID to PROJECT_CNT_HY_RATE
dtypes: float64(101), int64(44), object(15)
memory usage: 311.4+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,PROJECT_END_RGYEAR_DIFF,PROJECT_FIRST_CHANGE_FIRST_DIFF,PROJECT_END_CHANGE_FIRST_DIFF,PROJECT_FIRST_CHANGE_END_DIFF,PROJECT_END_CHANGE_END_DIFF,PROJECT_PRE_MONTH_CNT,PROJECT_CNT_ALL_RATE,PROJECT_HY_CNT_AVG,PROJECT_HY_CNT_ALL_RATE,PROJECT_CNT_HY_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,216,34,34,34,34,inf,0.0,0.030336,0.235777,0.0
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,180,34,34,34,34,inf,0.0,0.123225,0.957728,0.0
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,60,34,34,34,34,inf,0.0,0.254631,1.979042,0.0
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,48,34,34,34,34,inf,0.0,0.254631,1.979042,0.0
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,120,34,34,34,34,inf,0.0,0.254631,1.979042,0.0

In [5]:
df_lawsuit.info()
df_lawsuit.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 4 columns):
EID          25543 non-null int64
TYPECODE     25543 non-null int64
LAWDATE      25543 non-null object
LAWAMOUNT    25543 non-null int64
dtypes: int64(3), object(1)
memory usage: 798.3+ KB

    EID   TYPECODE     LAWDATE  LAWAMOUNT
0  5986  104115771  2015-07-01       2700
1  5986   83486760  2014-06-01      88500
2  5986   76450675  2014-02-01    1202100
3  5986   97776391  2014-06-01      88500
4  5986   85054730  2014-02-01    1202100

In [9]:
df_lawsuit = df_lawsuit.sort(['LAWDATE'])

EIDS = set(df_lawsuit['EID'])

print(len(EIDS))

columns = df_lawsuit.columns
df_xlawsuit = pd.DataFrame(columns=columns)

print(columns)

5803
Index(['EID', 'TYPECODE', 'LAWDATE', 'LAWAMOUNT'], dtype='object')

/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [10]:
k = 0
for EID in EIDS:
    if k%3000 == 0:
        print('第%d次处理--------->',k)
    k+=1
    tmp = df_lawsuit[df_lawsuit['EID'] == EID]
    row = [EID,tmp['TYPECODE'].values,tmp['LAWDATE'].values,tmp['LAWAMOUNT'].values]
    
    df_xlawsuit = df_xlawsuit.append(pd.Series(row,columns),ignore_index=True)

第%d次处理---------> 0
第%d次处理---------> 3000

In [11]:
df_xlawsuit.info()
df_xlawsuit.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5803 entries, 0 to 5802
Data columns (total 4 columns):
EID          5803 non-null float64
TYPECODE     5803 non-null object
LAWDATE      5803 non-null object
LAWAMOUNT    5803 non-null object
dtypes: float64(1), object(3)
memory usage: 181.4+ KB

,EID,TYPECODE,LAWDATE,LAWAMOUNT
0,524304.0,[91145910],[2014-08-01],[78800]
1,262162.0,"[85049412, 75063767]","[2014-01-01, 2014-01-01]","[21800, 21800]"
2,426004.0,"[91893183, 97784845, 79316682, 91696905, 87375...","[2014-04-01, 2014-04-01, 2014-04-01, 2014-05-0...","[20000, 20000, 20000, 28900, 28900, 22300, 500..."
3,524310.0,"[62204870, 62204981]","[2013-03-01, 2013-04-01]","[6000, 6200]"
4,294934.0,"[107058529, 106569021]","[2015-08-01, 2015-08-01]","[0, 0]"

In [12]:
df_xlawsuit['LAWSUIT_CNT'] = df_xlawsuit['TYPECODE'].apply(lambda x: len(x))
df_xlawsuit['LAWSUIT_LAWAMOUNT_MEAN'] = df_xlawsuit['LAWAMOUNT'].apply(lambda x: np.mean(x))
df_xlawsuit['LAWSUIT_LAWAMOUNT_SUM'] = df_xlawsuit['LAWAMOUNT'].apply(lambda x: np.sum(x))

In [13]:
df_xlawsuit['LAWSUIT_FIRST_TIME'] = df_xlawsuit['LAWDATE'].apply(lambda x: x[0][:7])
df_xlawsuit['LAWSUIT_END_TIME'] = df_xlawsuit['LAWDATE'].apply(lambda x: x[-1][:7])

In [14]:
df_xlawsuit.to_csv('../data/public/7lawsuit_1.csv',index=False,index_label=False)
df_xlawsuit.columns

Index(['EID', 'TYPECODE', 'LAWDATE', 'LAWAMOUNT', 'LAWSUIT_CNT',
       'LAWSUIT_LAWAMOUNT_MEAN', 'LAWSUIT_LAWAMOUNT_SUM', 'LAWSUIT_FIRST_TIME',
       'LAWSUIT_END_TIME'],
      dtype='object')

In [15]:
df_all = pd.merge(df_all,df_xlawsuit[['EID', 'LAWSUIT_CNT','LAWSUIT_LAWAMOUNT_MEAN', 'LAWSUIT_LAWAMOUNT_SUM', 'LAWSUIT_FIRST_TIME',
                                       'LAWSUIT_END_TIME']],how='left',on=['EID'])

In [16]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255130 entries, 0 to 255129
Columns: 165 entries, EID to LAWSUIT_END_TIME
dtypes: float64(104), int64(44), object(17)
memory usage: 323.1+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,PROJECT_PRE_MONTH_CNT,PROJECT_CNT_ALL_RATE,PROJECT_HY_CNT_AVG,PROJECT_HY_CNT_ALL_RATE,PROJECT_CNT_HY_RATE,LAWSUIT_CNT,LAWSUIT_LAWAMOUNT_MEAN,LAWSUIT_LAWAMOUNT_SUM,LAWSUIT_FIRST_TIME,LAWSUIT_END_TIME
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,inf,0.0,0.030336,0.235777,0.0,NaN,NaN,NaN,NaN,NaN
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,inf,0.0,0.123225,0.957728,0.0,NaN,NaN,NaN,NaN,NaN
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,inf,0.0,0.254631,1.979042,0.0,NaN,NaN,NaN,NaN,NaN
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,inf,0.0,0.254631,1.979042,0.0,NaN,NaN,NaN,NaN,NaN
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,inf,0.0,0.254631,1.979042,0.0,NaN,NaN,NaN,NaN,NaN

In [17]:
# 所有的关于时间的空值用2018-01填充，假设这些企业被执行的数据发生在下一年，其他用0填充便是没有被执行
meanlist = ['LAWSUIT_FIRST_TIME','LAWSUIT_END_TIME']
modelist = ['LAWSUIT_CNT','LAWSUIT_LAWAMOUNT_MEAN', 'LAWSUIT_LAWAMOUNT_SUM']

for d in meanlist:
    df_all.loc[df_all[d].isnull(),d] = '2018-01'

for c in modelist:
    df_all.loc[df_all[c].isnull(),c] = 0

In [18]:
def timeDiff(x):
    a = x[:x.find(':')]
    b = x[x.find(':')+1:]
    y = int(a[:a.find('-')]) - int(b[:b.find('-')])
    m = int(a[a.find('-')+1:]) - int(b[b.find('-')+1:])
    return y * 12 + m


df_all['LAWSUIT_FIRST_RGYEAR_TIME_DIFF'] = (df_all['LAWSUIT_FIRST_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)
df_all['LAWSUIT_END_RGYEAR_TIME_DIFF'] = (df_all['LAWSUIT_END_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)

df_all['LAWSUIT_FIRST_CHANGE_FIRST_TIME_DIFF'] = (df_all['LAWSUIT_FIRST_TIME'] + ':' + df_all['FIRST_CHANGE_TIME']).apply(timeDiff)
df_all['LAWSUIT_FIRST_CHANGE_END_TIME_DIFF'] = (df_all['LAWSUIT_FIRST_TIME'] + ':' + df_all['END_CHANGE_TIME']).apply(timeDiff)

---------------------------------------------------------------------------------------
    10. 企业平均没几个月被执行的一次， LAWSUIT_PRE_MONTH_CNT = LAWSUIT_END_RGYEAR_TIME_DIFF / LAWSUIT_CNT
    
    11. 企业被执行的个数占所有执行个数个平均值的比例，LAWSUIT_CNT_ALL_RATE
    
    12. 企业对应的大类HY的平均执行数据的个数，LAWSUIT_HY_CNT_AVG
    13. 企业对应大类HY的平均执行个数占所有执行平均个数的比例，LAWSUIT_HY_CNT_ALL_RATE
    14. 企业执行的个数占其对应的大类HY的执行平均值的比例，LAWSUIT_CNT_HY_RATE


    15. 企业被执行的金额占所有执行金额个平均值的比例，LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE
    
    16. 企业对应的大类HY的平均金额数据的数值，LAWSUIT_LAWAMOUNT_MEAN_HY_AVG
    17. 企业对应大类HY的平均执行金额占所有执行平均金额的比例，LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE
    18. 企业执行的金额占其对应的大类HY的执行金额平均值的比例，LAWSUIT_LAWAMOUNT_MEAN_HY_RATE

In [19]:
df_all['LAWSUIT_PRE_MONTH_CNT'] = df_all['LAWSUIT_END_RGYEAR_TIME_DIFF'] / df_all['LAWSUIT_CNT']
df_all['LAWSUIT_CNT_ALL_RATE'] = df_all['LAWSUIT_CNT'] / df_all['LAWSUIT_CNT'].mean()

df_all['LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE'] = df_all['LAWSUIT_LAWAMOUNT_MEAN'] / df_all['LAWSUIT_LAWAMOUNT_MEAN'].mean()

In [20]:
tmp = pd.DataFrame()

tmp['LAWSUIT_HY_CNT_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['LAWSUIT_CNT'].mean()
tmp['LAWSUIT_HY_CNT_ALL_RATE'] = tmp['LAWSUIT_HY_CNT_AVG'] / df_all['LAWSUIT_CNT'].mean()

tmp['LAWSUIT_LAWAMOUNT_MEAN_HY_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['LAWSUIT_LAWAMOUNT_MEAN'].mean()
tmp['LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE'] = tmp['LAWSUIT_LAWAMOUNT_MEAN_HY_AVG'] / df_all['LAWSUIT_LAWAMOUNT_MEAN'].mean()


tmp['HY'] = tmp.index

df_all = pd.merge(df_all,tmp,how='left',on=['HY'])

In [21]:

df_all['LAWSUIT_CNT_HY_RATE'] = df_all['LAWSUIT_CNT'] / df_all['LAWSUIT_HY_CNT_AVG']

df_all['LAWSUIT_LAWAMOUNT_MEAN_HY_RATE'] = df_all['LAWSUIT_LAWAMOUNT_MEAN'] / df_all['LAWSUIT_LAWAMOUNT_MEAN_HY_AVG']

In [22]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255130 entries, 0 to 255129
Columns: 178 entries, EID to LAWSUIT_LAWAMOUNT_MEAN_HY_RATE
dtypes: float64(113), int64(48), object(17)
memory usage: 348.4+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,LAWSUIT_FIRST_CHANGE_END_TIME_DIFF,LAWSUIT_PRE_MONTH_CNT,LAWSUIT_CNT_ALL_RATE,LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE_x,LAWSUIT_HY_CNT_AVG,LAWSUIT_HY_CNT_ALL_RATE,LAWSUIT_LAWAMOUNT_MEAN_HY_AVG,LAWSUIT_LAWAMOUNT_MEAN_ALL_RATE_y,LAWSUIT_CNT_HY_RATE,LAWSUIT_LAWAMOUNT_MEAN_HY_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,34,inf,0.0,0.0,0.035392,0.353504,10708.912308,0.225074,0.0,0.0
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,34,inf,0.0,0.0,0.064328,0.642529,57675.815873,1.212201,0.0,0.0
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,34,inf,0.0,0.0,0.056887,0.568201,27380.321715,0.575466,0.0,0.0
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,34,inf,0.0,0.0,0.056887,0.568201,27380.321715,0.575466,0.0,0.0
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,34,inf,0.0,0.0,0.056887,0.568201,27380.321715,0.575466,0.0,0.0

In [23]:
# 得到在df_xchange的所有数据，
df_all = df_all.fillna(0)
df_all.to_csv('../data/alldata/df_data1234567.csv',index=False,index_label=False)